Source: pat
Section: ham
Priority: extra
Maintainer: Martin Hebnes Pedersen <martin.h.pedersen@gmail.com>
Homepage: http://getpat.io
Build-Depends: debhelper (>= 7.0.50~), golang (>= 2:1.5), libax25, libax25-dev
Standards-Version: 3.9.1

Package: pat
Architecture: amd64 i386 armhf
Conflicts: wl2k-go, dist
Replaces: wl2k-go
Recommends: libhamlib-utils (>= 1.2), ax25-tools, gpsd (>= 2.90)
Description: A portable Winlink client for amateur radio email.
