[Unit]
Description=pat - Winlink client for %I
Documentation=https://github.com/la5nta/pat/wiki
After=ax25.service network.target

[Service]
User=%i
ExecStart=/usr/bin/pat http
Restart=on-failure

[Install]
WantedBy=multi-user.target
