#!/usr/bin/make -f
# -*- makefile -*-

PKGDIR=debian/wl2k-go

%:
	dh $@

clean:
	dh_clean
	rm -rf $(PKGDIR)

build:
	TAGS="libax25" ./make.bash

binary-arch: clean build
	dh_prep
	dh_installdirs

	mkdir -p $(PKGDIR)/usr/bin
	mkdir -p $(PKGDIR)/usr/share/wl2k-go

	mv ./wl2k $(PKGDIR)/usr/bin/
	cp -r share/* $(PKGDIR)/usr/share/wl2k-go/

	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

