[Unit]
Description=AX.25 KISS interface
After=network.target

[Service]
Type=forking
ExecStart=/usr/share/wl2k-go/bin/axup /dev/ttyS0 tmd710 9600

[Install]
WantedBy=default.target
