html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 130px;
}

body > .container {
  padding: 75px 15px 0;
}

.btn:focus {
  outline: none !important;
}

.navbar-link {
  text-decoration: none !important;
}

.status-text {
  font-weight: bold;
  font-size: 11px !important;
  margin: 0px 0px 0;
}

@media screen and (min-width: 1024px) {
  .modal.modal-narrow .modal-dialog {
    width: 30%;
  }

  .modal-narrow .modal-body {
    overflow-y: auto;
  }
}

.progress-text {
  padding-top: 3px;
  font-size: 11px !important;
  color: #555555;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.navbar > .container {
  margin-bottom: -10px;
}

.alert-small {
  width: 300px;
}

.strong {
  font-weight: bold;
}

/*
 * GUI Status Popover
 */
.popover-content {
  padding: 9px 12px;
  padding-bottom: 3px;
}

.panel-sm {
  margin-bottom: 6px;
}

.panel-sm > .panel-heading {
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
}

.panel-sm > .panel-body {
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
}

.status-light {
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 1px 0;
  border-radius: 15px;
  margin-bottom: 3px;
  margin-right: -3px;
}

/*
 * Mailbox folder
 */
#folder {
  max-height: 345px;
  overflow-y: auto;
}

#folder > table {
  font-size: 80%;
}

.sorted {
  color: maroon;
}

/*
 * Message viewer
 */
#message_view {
  display: none;
  font-size: 80%;
}

#composer {
  display: none;
  font-size: 80%;
}
.modal-header .btn-group {
  margin-right: 5px;
  margin-top: -5px;
}

/* Work-around for issue with tokenfield and input-group-sm on bootstrap 3.1 or newer */
.input-group-sm .tokenfield {
  height: auto;
}

.modal-header .btn-group button {
  color: #fff;
}

.modal-header .btn-group button:hover {
  color: #fff;
}

.primary.modal-header {
  background-color: #337ab7;
  color: #fff;
}

.primay.modal-body {
  padding: 0px 0;
  margin-left: 5px;
}

.primary.modal-footer {
  background-color: #333;
}

#composer_attachments {
  margin-top: 10px;
}

#body {
  border: none;
  white-space: pre-wrap;
  min-height: 50px;
  margin: 3px;
}

#msg_body {
  min-height: 150px;
  white-space: pre-wrap;
}

.panel-title {
  font-size: 115%;
  font-weight: bolder;
}

@media screen and (min-width: 1024px) {
  #body {
    min-height: 400px;
    max-height: 600px;
    overflow-y: auto !important;
    white-space: pre-wrap;
  }
  #msg_body {
    min-height: 400px;
    max-height: 600px;
    overflow-y: auto !important;
    white-space: pre-wrap;
  }
  #message_view {
    font-size: 80%;
  }
  #folder {
    max-height: 700px;
    overflow-y: auto;
  }
}

.panel-fluid {
  margin: 0px 0;
  padding: 0px 0;
}

.panel-heading p {
  margin: 0px 0;
}

#connectURLPreview {
  font-size: 80%;
}

/*
 * Log console
 */
.footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 120px;
}
#console {
  height: 120px;
  overflow-y: auto;
  background-color: #272822;
  color: #ffffff;
  line-height: 0.5em;
  padding: 3px;
}
#console .terminal {
  font-size: 0.6em;
}

.msgbody p {
}

.msgbody blockquote {
  font-size: 1em;
  color: #777777;
  margin-top: 0px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.msgbody blockquote p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.msgbody blockquote ul {
  margin-top: 0px;
  margin-bottom: -20px;
  margin-left: 0px;
  padding-left: 15px;
}

@media screen and (min-width: 1024px) {
  .footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 130px;
  }
  #console {
    height: 120px;
    overflow-y: auto;
    background-color: #272822;
    color: #ffffff;
    line-height: 1em;
    padding: 3px;
  }
  #console .terminal {
    font-size: 0.9em;
  }
}

/* Attachment add */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.compose-options {
  margin-top: 10px;
  margin-bottom: -10px;
}

#composer_error {
  font-size: 12px;
  margin: 5px 0px;
  padding: 5px 5px;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: -2px;
  margin: 0;
  padding: 0;
}

.table-fixed {
  overflow-y: auto;
  height: 400px;
}
.table-fixed thead th {
  position: sticky;
  top: 0;
  background: #eee;
}
